<form class="example-form" [formGroup]="addForm" (ngSubmit)="onFormSubmit()">
    <mat-label class="header">Admin Form</mat-label>
    <span></span>
    <div mat-dialog-content class="content">
        <div class="example-full-width">
            <mat-form-field appearance="outline">
                <mat-label> Name</mat-label>
                <input matInput type="text" placeholder="Mohamed" formControlName="name">
                <div *ngIf="addForm.get('name')?.errors && addForm.get('name')?.touched" class="error-message">
                </div>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Ex. test@gmail.com" formControlName="email">
                <div *ngIf="addForm.get('email')?.errors && addForm.get('email')?.touched" class="error-message">
                </div>
            </mat-form-field>

        </div>



        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>password</mat-label>
            <input matInput type="password" placeholder="" formControlName="password">
            <div *ngIf="addForm.get('password')?.errors && addForm.get('password')?.touched" class="error-message">
            </div>
        </mat-form-field>


        <div>
            <label for="validationCustom02" class="form-label">Upload  image</label>
            <input class="form-control" #image  type="file" (change)="upload(image.files)">
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
</form>