<button class="btn" style="background-color:  rgb(243, 247, 122); color: black;" mat-raised-button  (click)="openAddForm()">
    ADD VACCINE
  </button>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Vaccine Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Required  Age </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>
        <!-- Weight Column -->
        
     
      
      
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element">
          <div class="actions">
  
            <div class="example-button-container mx-2">
              <button mat-fab color="Basic" aria-label="Example icon button with a delete icon" class="edit" (click)="openEditForm(element._id)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-fab color="accent" aria-label="Example icon button with a delete icon" class="delete" (click)="deleteVaccine(element._id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10, 5, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>