.header{
    margin-left:6%;
    margin-top: 50px;
    color:#a96f90;
    font-weight: 500;
    font-size: 32px;
    text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.495);
  }
  /* span{
    height: 5px;
    width: 10px;
    color: #a96f90;
  } */
  .example-form {
    min-width: 750px;
    width: 100%;
    margin-top: 20px;
  }
  
  
  .example-full-width {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  mat-form-field {
    margin: 0 10px;
    width: 49%;
  }
  .mat-form-field{
    margin: 5px 15px;
    border-color: #a96f90;
  }
  
  .mat-mdc-button-base{
    background-color: #a96f90;
  }
  .action{
    margin: 0 30px;
  }
  
  .mat-mdc-raised-button {
    --mdc-protected-button-container-color: #a96f90;
    --mdc-protected-button-label-text-color: #fff;
  }
  
  .mdc-text-field--outlined {
    border-color: #a96f90;
  }
  
  .mdc-button .mdc-button--raised .mat-mdc-raised-button .mat-unthemed .mat-mdc-button-base {
    --mdc-protected-button-container-color: white!important;
    --mdc-protected-button-label-text-color: #fff;
  }
  
  