<nav class="main-menu ">
    <div>
        <a class="logo" href="http://startific.com">
            <!-- <img src="../../../assets/images/admin.jpg" class="icon d-flex align-items-center nav-item dropdown"/> -->
        </a>
    </div>
    <div class="settings"></div>
    <div class="scrollbar" id="style-1">
        <ul>
            <li>
                <a routerLink="/admin/main">
                    <i class="fa fa-home "></i>
                    <span class="nav-text">Home</span>
                </a>
            </li>

            <li class="darkerli">
                <a routerLink="admin/admin">
                    <i class="fa fa-id-badge"></i>
                    <span class="nav-text">Admins</span>
                </a>
            </li>

           
 <li class="darkerlishadow ">
                <a routerLink="admin/mother">
                    <i class="fa fa-person-breastfeeding"></i>
                    <span class="nav-text">Mother</span>
                </a>
            </li>

            <!-- <li >
                <a routerLink="admin/pregnant">
                    <i class="fa fa-person-pregnant"></i>
                    <span class="nav-text">Pregnant</span>
                </a>
            </li> -->

            <li class="darkerlishadowdown ">
                <a routerLink="admin/seller">
                    <i class="fa fa-shop"></i>
                    <span class="nav-text">Seller</span>
                </a>
            </li>

            <li>

                <a routerLink="admin/product">
                    <i class="fa fa-basket-shopping"></i>
                    <span class="nav-text">Products</span>
                </a>
            </li>
          

                <li>
                    <a routerLink="admin/order">
                        <i class="fa fa-life-ring"></i>
                        <span class="nav-text">
                            Orders
                        </span>

                    </a>
                </li>
                <li>
                    <a routerLink="admin/blog">
                        <i class="fa fa-blog"></i>
                        <span class="nav-text">
                            Blogs
                        </span>

                    </a>
                </li>

                <li>
                    <a routerLink="admin/vaccines">
                        <i class="fa fa-syringe"></i>                   
                             <span class="nav-text">
                            Vaccine
                        </span>

                    </a>
                </li>

                <li>
                    <a routerLink="admin/notification">
                        <i class="fa fa-bell"></i>                   
                             <span class="nav-text">
                            Notification
                        </span>

                    </a>
                </li>
            </ul>
    </div>