
<form class="example-form" [formGroup]="editForm" (ngSubmit)="onFormSubmit()">
    <mat-label class="header"> Product Form</mat-label>
    <span></span>
    <div mat-dialog-content class="content">
      <div class="example-full-width">
        <mat-form-field appearance="outline">
          <mat-label>Product Name</mat-label>
          <input matInput type="text" placeholder="" formControlName="productName">
          <div *ngIf="editForm.get('productName')?.errors && editForm.get('productName')?.touched" class="error-message">
          </div>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Stock</mat-label>
            <input matInput type="number" placeholder="" formControlName="stock">
            <div *ngIf="editForm.get('stock')?.errors && editForm.get('stock')?.touched" class="error-message">
            </div>
          </mat-form-field>
      </div>
  
      <div class="example-full-width">
        <mat-form-field appearance="outline">
          <mat-label>Category</mat-label>
          <input matInput type="text" placeholder="" formControlName="category">
          <div *ngIf="editForm.get('category')?.errors && editForm.get('category')?.touched" class="error-message">
          </div>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Seller</mat-label>
            <input matInput type="text" placeholder="" formControlName="seller">
            <div *ngIf="editForm.get('seller')?.errors && editForm.get('seller')?.touched" class="error-message">
            </div>
          </mat-form-field>
      </div>
      
      <div class="example-full-width">
        <mat-form-field appearance="outline">
          <mat-label>Price</mat-label>
          <input matInput type="number" placeholder="" formControlName="price">
          <div *ngIf="editForm.get('price')?.errors && editForm.get('price')?.touched" class="error-message">
          </div>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Rate</mat-label>
            <input matInput type="number" placeholder="" formControlName="rate">
            <div *ngIf="editForm.get('rate')?.errors && editForm.get('rate')?.touched" class="error-message">
            </div>
          </mat-form-field>
      </div>
  
      
  
      <!-- <div>
        <label for="validationCustom02" class="form-label">Upload product image</label>
        <input class="form-control" formControlName="productPhoto"  type="file" #image (change)="upload(image.files)">
      </div> -->
    </div>
    <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>
